<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Article</title>
  </head>
  <body>
    <header>
      <h1>Article Details</h1>
    </header>
    <main>
      <div class="container">
        <h2>title: <%= article.title %></h2>
        <p>description: <%= article.description.slice(0,100)+`...` %></p>
        <h3>tags: <%= article.tags %></h3>
        <h2>author: <%= article.author %></h2>
        <span>likes: <%= article.likes %> </span><br />

        <button>
          <a href=" /articles/<%= article.id %>/inc ">increment likes</a>
        </button>
        <button>
          <a href="/articles/<%= article.id %>/dec">decrement likes</a>
        </button>
        <button><a href="/articles/<%= article.id %>/edit">edit</a></button>
        <button>
          <a href="/articles/<%= article.id %>/delete ">delete</a>
        </button>

        <button>
          <a href="/">home</a>
        </button>
        <button>
          <a href="/articles ">add new article</a>
        </button>
      </div>
    </main>
  </body>
</html>
